@font-face {
    font-family: 'sacramento';
    font-style: normal;
    src: local('Sacramento'), local('Sacramento-Regular'), url(http://themes.googleusercontent.com/static/fonts/sacramento/v1/WFDkXpubrEwopJnSlHV6CC3USBnSvpkopQaUR-2r7iU.ttf);
}
@font-face {
    font-family: 'bryndan_write';
    font-style: normal;
    src: url(Media/Bryndan_Write.ttf);
}

@font-face {
    font-family: 'aileron_heavy';
    font-style: normal;
    src: url(Media/Aileron_Heavy.otf);
}

* {
    margin: 0;  
    padding: 0;
}

html {
  scroll-behavior: smooth;
} 

body {
    background-color: #3b9a9c;
    font-family: aileron_heavy;

}

header {
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
    height: 170px;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    color: #fef4a9;
}
.logo_container {
    height: 170px;
    
}

a:hover.logo_container {
    background-color: #3b9a9c;
}

.logo{
    max-width:100%;
    max-height:100%;

}
.login {
    height: 70%;
    border-radius: 5px;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    max-width: 800px;
    margin: 0px auto;
}

/* Editar o Menu */
nav ul {
    background: #3b9a9c;
    display: flex;
    list-style: none;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
}

nav li {
    width: 23%;
    height: 40px;
    line-height: 40px;
    border: 2px solid #78fee0;
    text-align: center;
}


a {
    display: block;
    text-decoration: none;
    color: #78fee0;
}

@media (max-width: 400px) {
    ul li a {
    font-size: 4vw;
    }
}

@media(hover: hover) and
(pointer: fine) {
    a:hover{
        color: #3b9a9c;
        background-color: #78fee0;
    }
    /* Add a hover effect for buttons */
    button:hover {
    color: #3b9a9c;
    background-color: #78fee0;
}
}

.active {
    color: #3b9a9c;
    background-color: #78fee0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
    text-align: justify;
}

section {
    color: #78fee0;
    padding-top: 60px;      /* resolve o problema do section iniciar no topo da página, embaixo do menu.  */
    }

H1 {
    color: #fef4a9;
    font-size: 25px;
    text-align: center;
    font-family: bryndan_write;
    padding-bottom: 20px;
}
.img_sections {
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;  
  /*justify-content: center;  */
}

H2 {
    color: #fef4a9;
    font-size: 20px;
    font-family: bryndan_write;
    padding-top: 30px;
}
p {
    text-indent: 10%;
    font-size: 15px;
}

section ul li{
    text-indent: 10%;
    line-height: 1.2;
    list-style: none;
}

footer {
    Margin-top: 40px;
    height: 50vh;
    align-items: center;
}

#linha_div {
    background-color: #4bc2c5;
    height: 10px;
}
.voltaraotopo_container {
    text-align: center;
    width: 200px;
    height: 60px;
    margin: 0px auto;
    padding:50px;
   
}    

.voltaraotopo {
    border: 2px solid #78fee0;
    line-height: 40px;
    color: #fef4a9;
}

/*-------   login form -------  */
form {
text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px  20px;
    margin: 8px 0px 8px 0px;
    display: block;
    border: 2px solid #4bc2c5;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    display:block;
    background-color: #3b9a9c;
    color: #78fee0;
    padding: 14px 20px;
    margin: 8px 0px;
    border: 2px solid #78fee0;
    cursor: pointer;
    width: 100%;
    font-family: aileron_heavy;
}


/* Add padding to containers */
.container_log {
    width: 100%;
    max-width: 500px;
    display: inline-block;
    color: #fef4a9;
    text-align: left;
    font-family: aileron_heavy;
}

