@font-face {
    font-family: 'sacramento';
    font-style: normal;
    src: local('Sacramento'), local('Sacramento-Regular'), url(http://themes.googleusercontent.com/static/fonts/sacramento/v1/WFDkXpubrEwopJnSlHV6CC3USBnSvpkopQaUR-2r7iU.ttf);
}
@font-face {
    font-family: 'bryndan_write';
    font-style: normal;
    src: url(Media/Bryndan_Write.ttf);
}

@font-face {
    font-family: 'aileron_heavy';
    font-style: normal;
    src: url(Media/Aileron_Heavy.otf);
}

* {
    margin: 0;  
    padding: 0;
}

html {
  scroll-behavior: smooth;
} 

body {
    background-color: #3b9a9c;
    font-family: aileron_heavy;

}

header {
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
    height: 170px;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    color: #fef4a9;
}

.logo{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.login {
    height: 70%;
    border-radius: 5px;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    max-width: 800px;
    margin: 0px auto;
}

/* Editar o Menu */
nav ul {
    background: #3b9a9c;
    display: flex;
    list-style: none;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
}

nav li {
    width: 23%;
    height: 40px;
    line-height: 40px;
    border: 2px solid #78fee0;
    text-align: center;
}


a {
    display: block;
    text-decoration: none;
    color: #78fee0;
}

@media (max-width: 400px) {
    ul li a {
    font-size: 4vw;
    }
}

@media(hover: hover) and
(pointer: fine) {
    a:hover{
        color: #3b9a9c;
        background-color: #78fee0;
    }
}

.active {
    color: #3b9a9c;
    background-color: #78fee0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
    text-align: justify;
}

section {
    color: #78fee0;
    padding-top: 60px;      /* resolve o problema do section iniciar no topo da página, embaixo do menu.  */
    }

H1 {
    color: #fef4a9;
    font-size: 25px;
    text-align: center;
    font-family: bryndan_write;
    padding-bottom: 20px;
}
.img_sections {
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;  
  /*justify-content: center;  */
}
.espacamento {
    height: 50vh;
}

H2 {
    color: #fef4a9;
    font-size: 20px;
    font-family: bryndan_write;
    padding-top: 30px;
}
p {
    text-indent: 10%;
    font-size: 15px;
}

section ul li{
    text-indent: 10%;
    line-height: 1.2;
    list-style: none;
}
